{% extends "siteForServerDev/layout.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}
<h2>Начальная страница</h2>
{% if token_data != 'Error' and token_data != Error and request.COOKIES.jwt_token %}
    <p>Ваш jwt token = {{ request.COOKIES.jwt_token }}</p>
    <p><a href="{%url 'refreshToken' %}">Проверить токен</a></p>
    <p>{{ token_data }}</p>
    <p><a href="login/delete/all">Отозвать все токены, кроме текущего</a></p>

    {% if user_tokens %}
        <table>
            <thead>
                <tr><th>Таблица активных токенов пользователя</th></tr>
                <tr>
                    <th>Token</th>
                </tr>
            </thead>
            <tbody>
                {% for token in user_tokens %}
                    <tr>
                        <td>{{ token.token }}</td>
                        <td><a href="login/delete/{{token.token}}">Отозвать</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% else %}
    <p>Токена не обнаружено</p>
{% endif %}

{% endblock %}