{% extends "siteForServerDev/layout.html" %}
{% block title %}
roleTest
{% endblock %}
{% block content %}
<h2>roleTest</h2>
    <p>{{ token_data }}</p>

    <h3>Роли пользователя {{ token_data.username }}</h3>
    {% for user_role in all_user_roles %}
        <p>{{ user_role.role }}</p>
    {% endfor %}
    <h3>Конец ролей пользователя {{ token_data.username }}</h3>

    <h3>Все роли сайта</h3>
    {% for role in roles %}
        <p>{{ role.role }}</p>
    {% endfor %}
    <h3>Конец всех ролей сайта</h3>
    <h3>Все роли всех пользователей</h3>
    {% for user_role in user_roles %}
        <p><a>{{ user_role.user }}</a> <a>{{ user_role.role }}</a></p>
    {% endfor %}
    <h3>Конец всех ролей всех пользователей</h3>

{% endblock %}